<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://booktemplateprocessor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8b589f4d-d2e0-440f-8b15-c54222f204c1/resourceGroups/armorgan-rg/providers/Microsoft.Web/sites/BookTemplateProcessor</ResourceId>
    <UserName>$BookTemplateProcessor</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://booktemplateprocessor.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>